.title {
  font-family: "Pacifico", sans-serif;
  color: #00c481;
  width: 50%;
  margin-left: 30%;
  margin-right: 20%;
}

.search {
  border-radius: 30px;
  border-color: #00c481;
  width: 15em;
}

.search-button {
  font-family: "SourceSansPro-SemiBold", sans-serif;
  border-radius: 30px;
  background-color: #00c481;
  border-color: #00c481;
}

.row-search {
  margin-top: 2vh;
  width: 50%;
  margin-left: 26%;
  margin-right: 24%;
}

.col-search {
  margin-left: 4vw;
}

.col-search-button {
  margin-left: -1vw;
}

.text {
  font-family: "SourceSansPro-Light", sans-serif;
  width: 50%;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 2vh;
}

.col-text {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.random-button {
  background-color: #bebebe;
  color: white;
  border-color: #bebebe;
  border-radius: 30px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -1vh;
}

.row-random {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.image {
  width: 70%;
  margin-left: 16%;
  margin-right: 14%;
  margin-top: 1vh;
}

.form {
  margin-top: -15vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  position: absolute;
}

.row-title {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.recipes {
  margin-top: 2vh;
  margin-left: -0.5vw;
}

.single-recipe {
  margin-top: 4vh;
}

.menu-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 3vh;
  margin-left: 2vh;
}
