.form {
  margin-top: -110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Pacifico", sans-serif;
  color: #00c481;
}

.search {
  border-radius: 30px;
  border-color: #00c481;
  width: 15em;
}

.search-button {
  font-family: "SourceSansPro-SemiBold", sans-serif;
  border-radius: 30px;
  background-color: #00c481;
  border-color: #00c481;
}

.row-search {
  position: absolute;
  margin-top: 7vh;
  margin-left: 4vw;
}

.row-text {
  margin-top: 50px;
}

.text {
  font-family: "SourceSansPro-Light", sans-serif;
  margin-top: 2vh;
}

.random-button {
  background-color: #bebebe;
  color: white;
  border-color: #bebebe;
  border-radius: 30px;
  margin-top: -1vh;
  padding-left: 25px;
  padding-right: 25px;
}

.image {
  width: 40%;
  margin-top: 1vh;
}

.col-img {
  display: flex;
  justify-content: center;
}

.recipes {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.single-recipe {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.menu-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 3vh;
  margin-left: 2vh;
}

.error-message {
  width: 80%;
}

.error-image {
  width: 20%;
  margin-top: 5vh;
}

@media only screen and (max-width: 1205px) {
  .form {
    margin-top: -90px;
  }
}

@media only screen and (max-width: 1105px) {
  .search {
    width: 12em;
  }
  .image {
    width: 60%;
  }
}

@media only screen and (max-width: 810px) {
  .image {
    width: 80%;
  }
  .form {
    margin-top: -35px;
  }
}

@media only screen and (max-width: 605px) {
  .title {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 485px) {
  .image {
    margin-top: 8vh;
  }
}
